@media (max-width: 600px){
    .products{
        display: inherit;
        height: auto;
        max-height: 100%;
    }
    .product{
        margin-top: auto;
        margin: auto;
    }
    .main_section{
        padding: 4%;
    }
    .Features, .comments{
        display: inherit;
        /* margin-top: auto; */
        height: auto;
        justify-content: center;
    }
}